$durationSlideInAnimation: 0.1s;

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.pages {
    width: 100%;
    height: 100%;

    /* http://css-tricks.com/snippets/css/momentum-scrolling-on-ios-overflow-elements/ */
    overflow-y: scroll; /* has to be scroll, not auto */
    -webkit-overflow-scrolling: touch;
}

.page {
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    padding: 0;
    margin: auto;
    width: 100%;
    min-height: 100%;
}

.inner-page {
    padding: 20px;
}

.side-page {
    display: none;
}

/* show side-page */

html.side {
    overflow-x: hidden;
    height: 100%
}

html.side body {
    background: black;
    overflow-x: hidden;
}

html.side .pages {
    position: absolute;
    right: 80%;
    width: 100%;

    animation: slide-out-page $durationSlideInAnimation;
}

@keyframes slide-out-page {
  0% {
    right: 0;
  }
  100% {
    right: 80%;
  }
}

html.side .side-page {
    z-index: 1000;
    position: fixed;
    top: 0;
    right: 0;

    width: 80%;
    height: 100%;
    display: block;    

    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;

    animation: slide-in-side-page $durationSlideInAnimation;
}

@keyframes slide-in-side-page {
  0% {
    margin-right: -80%;
  }
  100% {
    margin-right: 0;
  }
}
/*
html.side .side-page .inner-page {
    animation: slide-in-inner-side-page $durationSlideInAnimation;
}


@keyframes slide-in-inner-side-page {
  0% {
    margin-right: -180%
  }
  100% {
    margin-right: 0;
  }
}
*/

.not-scrollable {
    overflow-y: hidden;
}

/* styles */
body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 200;
    color: #333;
}

.page {
    font-size: 1.8em;
    font-weight: 100;

    h1 {
        font-weight: 100;
        text-transform:uppercase;
        letter-spacing: 0.0625em;
        margin-bottom: 0;
    }

    h2 {
        font-weight: 100;
        letter-spacing: 0.04em;
        margin-top:0;
        font-size: 1em;
    }

    p {
        font-weight: 100;
        margin-top: 2em;
        line-height: 1.5;
    }


}
#menu {
    font-weight: 100;
    font-size: 0.8em;
    background: white;
    height: 40px;
    padding: 20px 30px 10px;

    #menu-contact {
        display: block;
        float: right;
        text-decoration: none;
        border: 0;
    }

    #logo {
        float: left;

        #my-name {
            font-weight: 400;
        }
    }
}

.pages {
    a {
        color: #333;
        border-bottom: 2px solid #999;
        background: white;
        text-decoration: none;
    }

    a:hover {
        border-top: 2px solid #999;
        border-bottom: none;
    }
}

/* pages */

.hero-page {
    background: url('../images/00-hero.jpg') no-repeat;
    background-size:cover;

    h1 {
        letter-spacing: inherit;
        font-weight: 100;
        margin-top: 2.5em;
        color: #333;
    }
}

.user-research-page {
    position: relative;
    padding-bottom: 10%;

    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0.23, #FFFFFF),
        color-stop(1, #CFFFFF)
    );
    background-image: -o-linear-gradient(bottom, #FFFFFF 23%, #CFFFFF 100%);
    background-image: -moz-linear-gradient(bottom, #FFFFFF 23%, #CFFFFF 100%);
    background-image: -webkit-linear-gradient(bottom, #FFFFFF 23%, #CFFFFF 100%);
    background-image: -ms-linear-gradient(bottom, #FFFFFF 23%, #CFFFFF 100%);
    background-image: linear-gradient(to bottom, #FFFFFF 23%, #CFFFFF 100%);

    p {
        position: absolute;
        bottom: 7%;
        font-weight: 100;
        color: white;
        letter-spacing: 0.05em;
        margin: 0 12% 2%;
        font-size: 0.6em;
        opacity: 0.9;
        text-align: justify;

        a {
            background: none;
            color: white;
        }
    }

    img {
        width:80%;
        margin:10% 10% 0;
    }

    .inner-page {
        position: absolute;
        margin: 10%;

        font-size: 0.8em;

        .title {
            margin-top: 60px;

            h1 {
                padding: 14px 14px 10px;
                display: inline;

                color: black;
                background: white;

                font-size: 0.8em;
                font-weight: 200;
                letter-spacing: 0.2em;
            }
        }

        .sub-title {
            margin-top: 30px;
            h2 {
                padding: 8px 14px 10px;
                display: inline;

                color: black;
                background: white;

                font-size: 0.8em;
                font-weight: 100;
            }
        }
    }
}

.intermission-1-page {
    min-height: 80%;
    background: url('../images/02-intermission-1.jpg') no-repeat;
    background-size:cover;
}

.analyze-page {
    background: white;
    background: url('../images/03-analyze.jpg') no-repeat;
    background-size:cover;
    color: white;
}

.intermission-2-page {
    min-height: 100%;
    background: url('../images/04-intermission-2.jpg') no-repeat;
    background-size:cover;
}

.communicate-page {
    background: black;
    position: relative;
    padding-bottom: 10%;

    img {
        width:80%;
        margin:10% 10% 0;
    }

    p {
        font-weight: 100;
        color: white;
        letter-spacing: 0.05em;
        margin: 0 12% 2%;
        font-size: 0.7em;
        opacity: 0.8;
        text-align: justify;

        a {
            background: none;
            color: white;
        }
    }

    .inner-page {
        position: absolute;
        margin: 10%;

        .title {
            margin-top: 60px;

            h1 {
                padding: 14px 14px 10px;
                display: inline;

                color: white;
                background: black;

                font-size: 0.8em;
                font-weight: 200;
                letter-spacing: 0.2em;
            }
        }

        .sub-title {
            margin-top: 30px;
            h2 {
                padding: 8px 14px 10px;
                display: inline;

                color: white;
                background: black;

                font-size: 0.8em;
                font-weight: 100;
            }
        }        
    }
}

.conceptualize-page {
    background: white;
    background: url('../images/06-conceptualize.jpg') no-repeat;
    background-size:cover;
    color: white;
}

.image-2-page {
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0.23, #FFFFFF),
        color-stop(1, #CFFFFF)
    );
    background-image: -o-linear-gradient(bottom, #FFFFFF 23%, #CFFFFF 100%);
    background-image: -moz-linear-gradient(bottom, #FFFFFF 23%, #CFFFFF 100%);
    background-image: -webkit-linear-gradient(bottom, #FFFFFF 23%, #CFFFFF 100%);
    background-image: -ms-linear-gradient(bottom, #FFFFFF 23%, #CFFFFF 100%);
    background-image: linear-gradient(to bottom, #FFFFFF 23%, #CFFFFF 100%);
}

.process-page {
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0.19, #C9FFDD),
        color-stop(0.68, #FFEDFE)
    );
    background-image: -o-linear-gradient(bottom, #C9FFDD 19%, #FFEDFE 68%);
    background-image: -moz-linear-gradient(bottom, #C9FFDD 19%, #FFEDFE 68%);
    background-image: -webkit-linear-gradient(bottom, #C9FFDD 19%, #FFEDFE 68%);
    background-image: -ms-linear-gradient(bottom, #C9FFDD 19%, #FFEDFE 68%);
    background-image: linear-gradient(to bottom, #C9FFDD 19%, #FFEDFE 68%);
}

.design-page {
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0.18, #CFFFFF),
        color-stop(0.69, #C9FFDD)
    );
    background-image: -o-linear-gradient(bottom, #CFFFFF 18%, #C9FFDD 69%);
    background-image: -moz-linear-gradient(bottom, #CFFFFF 18%, #C9FFDD 69%);
    background-image: -webkit-linear-gradient(bottom, #CFFFFF 18%, #C9FFDD 69%);
    background-image: -ms-linear-gradient(bottom, #CFFFFF 18%, #C9FFDD 69%);
    background-image: linear-gradient(to bottom, #CFFFFF 18%, #C9FFDD 69%);
}

.contact-page {
    background: black;
}

/* side pages */

html.side .side-page {
}
