html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.pages {
    width: 100%;
    height: 100%;

    /* http://css-tricks.com/snippets/css/momentum-scrolling-on-ios-overflow-elements/ */
    overflow-y: scroll; /* has to be scroll, not auto */
    -webkit-overflow-scrolling: touch;
}

.page {
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    padding: 0;
    margin: auto;
    width: 100%;
    min-height: 100%;
}

.inner-page {
    padding: 20px;
}

html.side {
    overflow-x: hidden;
    height: 100%
}

html.side body {
    background: black;
    overflow-x: hidden;
}

html.side .pages {
    position: absolute;
    right: 80%;
    width: 100%;
}

.side-page {
    display: none;
}

html.side .side-page {
    z-index: 1000;
    position: fixed;
    top: 0;
    right: 0;

    width: 80%;
    height: 100%;
    display: block;    

    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.not-scrollable {
    overflow-y: hidden;
}

/* styles */
body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.page {
    font-size: 1.8em;
}
#menu {
    background: white;
    height: 40px;
    padding: 20px 30px 10px;

    #menu-contact {
        display: block;
        float: right;
    }

    #logo {
        float: left;
    }
}


/* pages */

.hero-page {
    background: yellow;
}

.image-1-page {
    background: red;
}

.user-research-page {
    background: lime;
}

.analysis-page {
    background: magenta;
}

.communication-page {
    background: #ddd;
}

.conceptualization-page {
    background: white;
}

.image-2-page {
    background: red;
}

.process-page {
    background: black;
}

.design-page {
    background: yellow;
}

.contact-page {
    background: white;
}

/* side pages */

html.side .side-page {
}
